<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style media="screen">
      body {
        background: skyblue;
      }
      .register-card {
        background-color:white;
        width:40%;
        height:580px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin:auto;
        border-radius:4px;
        margin-top:50px;
      }
      .register-content {
        text-align: center;
      }
      #register-head {
        padding-top:50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="container register-card" style="">
        <div class="container register-content">
          {% if registered %}
            <h2 id="register-head">Thank you for registering!</h2>
          {% else %}
            <h2 id="register-head">Register here!</h2>
            <br>
            <form action="{% url 'basic_app:register' %}" method="post">
              {% csrf_token %}
              {{ user_form.as_p}}
              {{ profile_form.as_p }}

              <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button><br>
            </form>

          {% endif %}

          <div class="">
            <p>Already have an account? <a href="{% url 'basic_app:user_login' %}">Login here</a></p>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>



<!-- <div class="jumbotron">
  {% if registered %}
    <h1>Thank you for registering!</h1>
  {% else %}
    <h1>Register here!</h1>
    <h3>Fill out the form:</h3>

    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ user_form.as_p}}
      {{ profile_form.as_p }}
      <input type="submit" name="" value="Register">
    </form>

    {% endif %}
</div> -->
